name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          always-auth: true
          registry-url: https://registry.npmjs.org

      - name: Set output of cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
        run: echo "{name}={dir::$(yarn cache dir)}" >> $GITHUB_OUTPUT

      - name: Node dependency cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint Action
        uses: wearerequired/lint-action@v2.3.0
        with:
          github_token: ${{ secrets.github_token }}
          eslint: true
          eslint_extensions: js,jsx,ts,tsx,json
          auto_fix: true